flows.json
[
    {
        "id": "756da50ffb20102e",
        "type": "tab",
        "label": "Flow 9",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93c33ed7d4498d4c",
        "type": "inject",
        "z": "756da50ffb20102e",
        "name": "subsistem 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "2e445be1426ce253",
                "977685f90f214ce2",
                "d8db73343313966b"
            ]
        ]
    },
    {
        "id": "2e445be1426ce253",
        "type": "random",
        "z": "756da50ffb20102e",
        "name": "Soil Moisture (VWC) (10 - 75%)",
        "low": "10",
        "high": "75",
        "inte": "false",
        "property": "payload",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "18420a83af1f4289",
                "63bbdc5f6790a5ad",
                "6d2d024bcd3cfadc"
            ]
        ]
    },
    {
        "id": "18420a83af1f4289",
        "type": "mqtt out",
        "z": "756da50ffb20102e",
        "name": "Soil Moisture",
        "topic": "sfarm/moisture",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "63bbdc5f6790a5ad",
        "type": "debug",
        "z": "756da50ffb20102e",
        "name": "debug 84",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "6d2d024bcd3cfadc",
        "type": "ui_gauge",
        "z": "756da50ffb20102e",
        "name": "",
        "group": "1fe00eb954d00fb4",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Moisture Sensor (0-100%)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "50",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "977685f90f214ce2",
        "type": "random",
        "z": "756da50ffb20102e",
        "name": "Temperature (℃) (20 - 40)",
        "low": "20",
        "high": "40",
        "inte": "false",
        "property": "payload",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "10fd3845ad91b374",
                "727bfb067ebb20e4",
                "1a12e662280db426"
            ]
        ]
    },
    {
        "id": "10fd3845ad91b374",
        "type": "mqtt out",
        "z": "756da50ffb20102e",
        "name": "Temperature",
        "topic": "sfarm/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "727bfb067ebb20e4",
        "type": "debug",
        "z": "756da50ffb20102e",
        "name": "debug 85",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "1a12e662280db426",
        "type": "ui_gauge",
        "z": "756da50ffb20102e",
        "name": "",
        "group": "1fe00eb954d00fb4",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Sensor (0 - 50℃)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "d8db73343313966b",
        "type": "random",
        "z": "756da50ffb20102e",
        "name": "Light Level (Lux) (500-7000 Lux)",
        "low": "500",
        "high": "7000",
        "inte": "false",
        "property": "payload",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "8c0acc0b247ea4b7",
                "3cafd8ad3f3a37b6",
                "b888ec59ab5099c0"
            ]
        ]
    },
    {
        "id": "8c0acc0b247ea4b7",
        "type": "mqtt out",
        "z": "756da50ffb20102e",
        "name": "Light",
        "topic": "sfarm/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "3cafd8ad3f3a37b6",
        "type": "debug",
        "z": "756da50ffb20102e",
        "name": "debug 86",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "b888ec59ab5099c0",
        "type": "ui_gauge",
        "z": "756da50ffb20102e",
        "name": "",
        "group": "1fe00eb954d00fb4",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Level Sensor (Lux) (0 - 10000 Lux)",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "10000",
        "colors": [
            "#ca3838",
            "#00b300",
            "#ca3838"
        ],
        "seg1": "2000",
        "seg2": "5000",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "42f78dc81b1a3654",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1fe00eb954d00fb4",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "d1f3887e0037eecc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d1f3887e0037eecc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]